doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title Document
      link(href='https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap', rel='stylesheet')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css', crossorigin='')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css', crossorigin='')
      link(rel='stylesheet' href='css/otherCSS.css')

  body
    block header
      include nav
    block content
      p content will come here
    block footer
      include footer
    script(src="https://unpkg.com/axios/dist/axios.min.js" crossorigin="true")
    script(src="js/frontend.js")
    script(src="js/script.js")
    block head
          meta(charset='UTF-8')
          meta(name='viewport', content='width=device-width, initial-scale=1.0')
          title Document
          link(href='https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap', rel='stylesheet')
          link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css', crossorigin='')
          link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css', crossorigin='')
          link(rel='stylesheet', href='css/style.css')
    block header
        .showcase
            #nav.navbar
                ul.all-navbar-buttons
                    li.navbar-stuff
                        a.nav-links(href='/') FEATURES
                    li.navbar-stuff
                        a.nav-links(href='') REVIEWS
                    li.navbar-stuff
                        a.nav-links(href='/plans') PLANS
                    li.navbar-stuff
                        a.nav-links(href='') DETAILS
                    if(name)
                        li.navbar-stuff
                            a(href='#').user-icon
                                i.fas.fa-user.user-icon
                            .dropdown-menu
                                ul
                                    li.navbar-stuff
                                        a.nav-links(href='/profile').dropdown-stuff #{name}
                                    li.navbar-stuff
                                        a.nav-links(href= '/myPlans').dropdown-stuff MY PLANS
                                    li.navbar-stuff
                                        a.nav-links(href='/logout').dropdown-stuff.logout LOGOUT
                    else
                        li.navbar-stuff
                            a.nav-links(href='/login') LOGIN
                        li.navbar-stuff
                            a.nav-links(href='/signup') SIGNUP
            .text-box
                h1.main-heading.animated.bounceInLeft
                    | MEAL PLANS 
                    br
                    |  FOR 
                    span#span-detector EVERYONE
                .btns.container
                    a.btn.btn-full(href='') Book Now
                    a.btn.btn-trans(href='') Show me more

            //- include nav
    block content
        .features
        h1.sub-headings EXCLUSIVE FEATURES
        .common-cards
            .card.card-1
                i.fas.fa-calendar-plus
                h2.card-heading 365 DAYS/YEAR
                br
                p.card-content
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eius officia praesentium molestias, veniam asperiores, eos aut alias adipisci aliquid, nemo mollitia eligendi quia perspiciatis!
            .card.card-2
                i.fas.fa-truck
                h2.card-heading 30 MINUTES OR FREE DELIVERY
                br
                p.card-content
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, libero laboriosam optio a rerum provident hic non dicta earum natus suscipit at aspernatur eveniet excepturi. Modi inventore maxime doloribus esse!
            .card.card-3
                i.fas.fa-carrot
                h2.card-heading 100% ORGANIC
                br
                p.card-content
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum hic veniam repellat eligendi magni explicabo, beatae praesentium ea maiores sed adipisci facere perferendis, dicta rerum corrupti ipsa totam ratione excepturi!

        .plans-section
            h1.sub-headings
                |PLANS
            .common-cards
                for plan in plans
                    include planCard

        .reviews-section
            h1.sub-headings(style='color: white;')
                | REVIEWS
            .common-cards
                .card.card-1(style='background-color: gainsboro;')
                    h2.card-heading
                        | ELON MUSK
                    p.card-content
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quibusdam aut natus sed placeat fuga officiis minus dolores ea? Voluptas dolorum nisi quidem eaque officiis deserunt repellendus corrupti, cupiditate enim.
                    br
                    span.stars
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                .card.card-2(style='background-color: gainsboro;')
                    h2.card-heading
                        | MAT WATSON
                    p.card-content
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quibusdam aut natus sed placeat fuga officiis minus dolores ea? Voluptas dolorum nisi quidem eaque officiis deserunt repellendus corrupti, cupiditate enim.
                    br
                    span.stars
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                .card.card-3(style='background-color: gainsboro;')
                    h2.card-heading
                        | AGATHA CHRISTIE
                    p.card-content
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quidem assumenda officia nisi quia, quisquam omnis suscipit totam nostrum obcaecati quibusdam quasi minima. Doloremque, nostrum.
                    br
                    span.stars
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
        h1.sub-headings
            | STEPS TO FOLLOW
        br
        span.flex-container
            span.image-container
                img.img(src='./images/Capture.png', alt='')
            span.steps-container
                span.steps-flex-container
                    div 1
                    p.steps-para
                        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam ea perspiciatis quod illo aspernatur doloremque?
                span.steps-flex-container
                    div 2
                    p.steps-para
                        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam ea perspiciatis quod illo aspernatur doloremque?
                span.steps-flex-container
                    div 3
                    p.steps-para
                        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam ea perspiciatis quod illo aspernatur doloremque?
        section.signup
            h1.sub-headings CONTACT US
            .signup-container
                .video-container
                    video.bg-video(autoplay='', muted='', loop='')
                        source(src='./images/Avocado.mp4', type='video/mp4')
                        |                     Autoplay is not supported
                .signup-form
                    form(action='')
                        .entry-container
                        label(for='name') Name
                        input#name.input-border(type='text', style='border: solid 1px red;', placeholder='Your Name')
                        .entry-container
                        label(for='Email') Email
                        input#Email.input-border(type='email', style='border: solid 1px red;', placeholder='Your Email')
                        .entry-container
                        label(for='Options') How did you find us
                        select#Options.input-border(style='border: solid 1px red;')
                            option(value='friends') Friends
                            option(value='search') Search
                            option(value='advertisment') Advertisment
                            option(value='other') Other
                        .entry-container
                        label(for='feedback') Drop us a line or two
                        textarea.input-border(name='feedback', style='border-radius: 1.5rem;', rows='8')
                        .entry-container.check-box
                            input#checkbox(type='checkbox', style='width: auto;')
                            p(style='margin-left: 0.5rem; position: relative; bottom: 0.4rem;') I have read and agree with all the Terms and Conditions
                        button.btn.btn-full(type='submit', style='border-radius: 1.5rem; padding-left: 1rem; padding-right:1rem; border: none') Submit

