.footer
    .Company
        h3(style='color: red; font-size: 1.5rem;') Company
        h4.stuffs
            a About us
        h4.stuffs
            a Jobs
        h4.stuffs
            a iOS
        h4.stuffs
            a Android
    .legal-stuff
        h5.legal-stuffs Legal
        h5.legal-stuffs Privacy Center
        h5.legal-stuffs Privacy Policy
        h5.legal-stuffs Cookies
        h5.legal-stuffs About Ads
        h5.legal-stuffs(style='padding-left: 5rem; color: grey;') ©2020 Zwiggy
    .social-media
        i.fab.fa-instagram
        i.fab.fa-facebook-f
        i.fab.fa-twitter
        i.fab.fa-snapchat-ghost
        i.fab.fa-google-plus-g
