.card.plan-cards.plan-1
    h2.card-heading #{plan.name}
    br
    span.price
        h2(style='color: red; font-size: 3.3rem;') £#{plan.price}
        h5 /month
    span.benefits
        span.benefit
            i.far.fa-check-circle
            h5.ben-desc 2 meals/day
        span.benefit
            i.far.fa-check-circle
            h5.ben-desc Order 24/7
        span.benefit
            i.far.fa-check-circle
            h5.ben-desc Normal Delivery
        span.benefit
            i.far.fa-check-circle
            h5.ben-desc Access to latest creations
    span.Buy-button
        h4(style='padding-top:0.7rem; color:white') Buy
